.four_zero_four_bg {
  background: url('../../../assets/dist/img/Gif404.gif');
  height: 400px;
  background-position: center;
}

.page_404 {
  width: 700px;
  height: 200px;
  position: absolute;
  top: 22%;
  left: 32%;
}

.four_zero_four_bg h1 {
  position: relative;
  top: -70px;
}