<!-- Main Sidebar Container -->
<aside class="main-sidebar  elevation-4">
  <!-- Brand Logo -->
  <!-- <a href="index3.html" class="brand-link"><i id="logo_dash" class="fa-brands fa-angular"></i></a> -->

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../assets/dist/img/ImgWoman.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <h4 class="text-white">Administrador@</h4>
      </div>
    </div>

    <!-- SidebarSearch Form -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-solid fa-user"></i>
            <!-- <span class="material-icons">&#xE87C;</span> -->
            <p>
              Usuario
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/Usuarios" class="nav-link">
                <i class="nav-icon fa-solid fa-table"></i>
                <p>Ver Usuarios</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-brands fa-product-hunt"></i>
            <p>
              Productos
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/Productos" class="nav-link">
                <i class="nav-icon fa-solid fa-database"></i>
                <p>Visualizar Productos</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-sharp fa-solid fa-money-bill"></i>
            <p>
              Facturacion
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/VisuFacturacion" class="nav-link">
                <i class="nav-icon fa-solid fa-sheet-plastic"></i>
                <p>Reporte de factura</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-solid fa-truck-field-un"></i>
            <p>
              Proveedor
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/Proveedor" class="nav-link">
                <i class="nav-icon fa-solid fa-eye"></i>
                <p>Visualizar Proveedores</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-solid fa-map-pin"></i>
            <p>
              Sucursales
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/Sucursales" class="nav-link">
                <i class="nav-icon fa-solid fa-map"></i>
                <p>Visualizar Sucursales</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a routerLink="/Preguntas" class="nav-link">
            <i class="nav-icon fa-solid fa-question" style="color: #fff;"></i>
            <p>
              Preguntas Frecuentes
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa-solid fa-gear"></i>
            <p>
              Configuracion
              <i class="fas fa-angle-left right" style="color:#fff;"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/tables/simple.html" class="nav-link">
                <i class="nav-icon fa-solid fa-lock"></i>
                <p>Cambiar Contraseña</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i style="color: #fff;" class="nav-icon fa fa-sign-out" aria-hidden="true"></i>
            <p>
              Cerrar Sesiòn
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>